# Setup and Imports

In [1]:
import pandas as pd

# Round 0

### Loading the data

In [8]:
data = pd.read_csv('../../data/round0.csv')

### EDA

In [10]:
data.head()

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-1,0,RAINFOREST_RESIN,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.000000
1,-1,0,KELP,2028,1,2026.0,2.0,2025.0,29.0,2029,31,NaN,NaN,NaN,NaN,2028.5,0.000000
2,-1,100,KELP,2025,24,NaN,NaN,NaN,NaN,2028,2,2029.0,22.0,NaN,NaN,2026.5,17.361328
3,-1,100,RAINFOREST_RESIN,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0,-151.000000
4,-1,200,RAINFOREST_RESIN,9995,20,NaN,NaN,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10000.0,-239.000000

In [13]:
# Determining the data types of each column
data.dtypes

day                  int64
timestamp            int64
product             object
bid_price_1          int64
bid_volume_1         int64
bid_price_2        float64
bid_volume_2       float64
bid_price_3        float64
bid_volume_3       float64
ask_price_1          int64
ask_volume_1         int64
ask_price_2        float64
ask_volume_2       float64
ask_price_3        float64
ask_volume_3       float64
mid_price          float64
profit_and_loss    float64
dtype: object

In [12]:
# Calculating the sum of missing values for each column of the dataframe
data.isnull().sum()

day                   0
timestamp             0
product               0
bid_price_1           0
bid_volume_1          0
bid_price_2        2154
bid_volume_2       2154
bid_price_3        3616
bid_volume_3       3616
ask_price_1           0
ask_volume_1          0
ask_price_2        2062
ask_volume_2       2062
ask_price_3        3652
ask_volume_3       3652
mid_price             0
profit_and_loss       0
dtype: int64

In [11]:
# Calculating the overall profit or loss
overall_profit_or_loss = data['profit_and_loss'].sum()

print(f"Overall Profit or Loss: {overall_profit_or_loss}")

Overall Profit or Loss: 136366.109375